.compra-card {
  text-align: center;
  margin: 0.2rem;
  padding: 0.5rem;
  height: 9rem;
  width: 8rem;
  background-color: #27272b !important;
  h2 {
    margin: 0px !important;
  }
  .titulo {
    font-size: 1.1rem;
  }
  .percentual {
    font-size: 0.8rem;
  }
  .valor {
    font-size: 1.2rem;
  }
  #valortotal {
    font-size: 0.5rem;
  }
  .compra-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
  }
  .compra-card-valores {
    color: green;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-items: center;
  }
}
