.switch{
    text-align: left;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.divider-h {
    margin: 0rem 1em;
    border-bottom: 1px solid grey;
    height: 100%;
}
