.circular{
  height:90px;
  width: 90px;
  position: relative;  
  border:solid green 1px;
  .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #27272B;
    border-radius: 100%;
  }
  .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4158d0;
  }
  .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    .progress{
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 100%;
      clip: rect(0px, 50px, 100px, 0px);
      background: #4158d0;
    }
  }
  .left{
    .progress{
      z-index:1;
      animation: left 4s linear both;
    }
    @keyframes left{
      100%{
        transform: rotate(180deg);
      }
    }
  }
  .right {
    transform: rotate(180deg);
    z-index:3;
    .progress{
      animation: right 4s linear both;
      animation-delay:4s;
    }
    @keyframes right{
      100%{
        transform: rotate(180deg);
      }
    }
  }
}